In [2]:
import pandas as pd

In [3]:
oye_dict = {'name':['samuel', 'samson', 'ben'], 'age':[30, 27, 25]}

In [5]:
pd.DataFrame(oye_dict)

     name  age
0  samuel   30
1  samson   27
2     ben   25